# ディレクトリ毎に分ける
[includeIf "gitdir:~/Projects/"]
  path = ~/Projects/.gitconfig
[includeIf "gitdir:~/Projects_neets13/"]
  path = ~/Projects_neets13/.gitconfig
[user]
	name = nukopy
	email = nukopy@gmail.com
